{{> header }}


<!-- HTML/CSS -->

<div class="container">
  <br>  
  <button type="button" class="btn btn-primary btn-lg btn-block"    href="https://livechatucf.herokuapp.com/">Live Chat Room</button>
  <br>

  <div class="row">
      <div class="col-sm-4">
      <div class="panel panel-primary">
      <div class="panel-heading">HTML/CSS</div>
      <div class="panel-body"><iframe width="250" height="125" src="https://www.youtube.com/embed/y3UH2gAhwPI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
      <div class="panel-footer">Watch and Learn</div>
      <p><a href="https://www.w3schools.com/html/html_css.asp">Online HTML / CSS tutorial</a></p>
      </div>
    </div>

    <div class="col-sm-4"> 
      <div class="panel panel-danger">
      <div class="panel-heading">BOOTSTRAP</div>
      <div class="panel-body"><iframe width="250" height="125" src="https://www.youtube.com/embed/aTLRdrRQyN4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
      <div class="panel-footer">You will LOVE Bootstrap.</div>
      <p><a href="https://www.w3schools.com/html/html_css.asp">Online Bootstrap tutorial</a></p>
      </div>
    </div>
        
    
    <div class="col-sm-4"> 
      <div class="panel panel-success">
      <div class="panel-heading">JAVASCRIPT</div>
      <div class="panel-body"><iframe width="250" height="125" src="https://www.youtube.com/embed/vEROU2XtPR8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
      <div class="panel-footer">You will eat and sleep JavaScript.</div>
      <p><a href="https://www.w3schools.com/js/default.asp">Online JavaScript tutorial</a></p>
      </div>
    </div>
  </div>    
   
  <div class="row">

    <div class="col-sm-4">
      <div class="panel panel-primary">
      <div class="panel-heading">JQUERY</div>
      <div class="panel-body"><iframe width="250" height="125" src="https://www.youtube.com/embed/BWXggB-T1jQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
      <div class="panel-footer">jQuery your life.</div>
      <p><a href="https://www.w3schools.com/jQuery/default.asp">Online Jquery tutorial</a></p>
      </div>
    </div>


    <div class="col-sm-4">
      <div class="panel panel-danger">
      <div class="panel-heading">API/AJAX</div>
      <div class="panel-body"><iframe width="250" height="125" src="https://www.youtube.com/embed/rJesac0_Ftw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
      <div class="panel-footer">Get updated info 24/7.</div>
      <p><a href="https://www.w3schools.com/graphics/google_maps_intro.asp">Online API tutorial</a></p>
      </div>
    </div>


    <div class="col-sm-4">
      <div class="panel panel-success">
      <div class="panel-heading">FIREBASE</div>
      <div class="panel-body"><iframe width="250" height="125" src="https://www.youtube.com/embed/DHB79M54-II" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
      <div class="panel-footer">Store data online.</div>
      <p><a href="https://www.codecademy.com/ru/tracks/firebase">Online FireBase tutorial</a></p>
      </div>
    </div>  
   

    
  <div class="row">

    <div class="col-sm-4">
      <div class="panel panel-primary">
      <div class="panel-heading">NODE</div>
      <div class="panel-body"><iframe width="250" height="125" src="https://www.youtube.com/embed/U8XF6AFGqlc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
      <div class="panel-footer">Did you node that?</div>
      <p><a href="https://www.w3schools.com/nodejs/default.asp">Online Node tutorial</a></p>
      </div>
    </div>  


    <div class="col-sm-4">
      <div class="panel panel-danger">
        <div class="panel-heading">MySQL</div>
        <div class="panel-body"><iframe width="250" height="125" src="https://www.youtube.com/embed/yPu6qV5byu4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        <div class="panel-footer">Tables. Servers. But not at a restaurant.</div>
        <p><a href="https://www.w3schools.com/nodejs/default.asp">Online MySQL tutorial</a></p>
      </div>
    </div> 

    <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-heading">EXPRESS</div>
        <div class="panel-body"><iframe width="250" height="125" src="https://www.youtube.com/embed/gnsO8-xJ8rs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
        <div class="panel-footer">Put it online.</div>
        <p><a href="http://w3adda.com/express-js-tutorial">Online EXPRESS tutorial</a></p>
      </div>
    </div>

  
  <div class="row">

    <div class="col-sm-4">
      <div class="panel panel-primary">
      <div class="panel-heading">EXPRESS RESTFUL</div>
      <div class="panel-body"><iframe width="250" height="125" src="https://www.youtube.com/embed/qZoOl43Ou8g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
      <div class="panel-footer">Chillax.</div>
      <p><a href="http://www.restapitutorial.com/">Online EXPRESS RESTFUL tutorial</a></p>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-primary">
      <div class="panel-heading">ORM</div>
      <div class="panel-body"><iframe width="250" height="125" src="https://www.youtube.com/embed/QSmF1A0E3JI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
      <div class="panel-footer">Object-Relational Mapping.</div>
      <p><a href="https://www.codementor.io/hari577/object-relational-mapping-in-nodejs-with-sequelize-du1088h3l">Online CRUD tutorial</a></p>
      </div>
    </div>



    <div class="col-sm-4">
      <div class="panel panel-primary">
      <div class="panel-heading">CRUD</div>
      <div class="panel-body"><iframe width="250" height="125" src="https://www.youtube.com/embed/O68v7lr5iLA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
      <div class="panel-footer">Create Read Update Delete.</div>
      <p><a href="https://www.codeofaninja.com/2016/12/angular-crud-tutorial.html">Online CRUD tutorial</a></p>
      </div>
    </div>







  </div>
</div>

